@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
    --bg-black-900: #f2f2fc;
    --bg-black-100: #fdf9ff;
    --bg-black-50: #e8dfec;
    --text-black-900: #302e4d;
    --text-black-700: #504e70;
    --skin-color: #279bf5;
}

body {
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Poppins' sans-serif;
}

a {
    text-decoration: none !important;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    /*  */
}

::before,
::after {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

/* preloader */

@keyframes ani01 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #111111;
    z-index: 1099;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.6s ease;
}

.preloader.loaded {
    visibility: hidden;
    display: none;
    opacity: 0;
    z-index: -99;
}

.preloader .loader {
    height: 30px;
    width: 30px;
    border: 2px solid #279bf5;
    border-right: 2px solid transparent;
    border-radius: 50%;
    animation: ani01 2s linear infinite;
}

.main-container {
    padding-top: 60px;
}

/* //section */

.section {
    background: var(--bg-black-900);
    display: block;
    padding: 0px 30px;
    opacity: 1;
}

.hidden {
    display: none !important;
}

.padd-15 {
    padding-left: 35px;
    padding-right: 15px;
}

.section-container {
    max-width: 1100px;
    width: 100%;
    margin: auto;
}

.section .section-container {
    padding-top: 60px;
    padding-bottom: 70px;
}

.section-title {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 60px;
}

.section-title h2 {
    font-size: 40px;
    color: var(--text-black-900);
    font-weight: 700px;
    position: relative;
}

.section-title h2::before {
    content: '';
    height: 4px;
    width: 50px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
}

.section-title h2::after {
    content: '';
    height: 4px;
    width: 25px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
}

.button {
    font-size: 16px;
    font-weight: 500;
    padding: 12px 35px;
    color: white;
    border-radius: 40px;
    display: inline-block;
    white-space: nowrap;
    border: none;
    background: var(--skin-color);
    transition: all 0.3s ease;
    cursor: pointer;
}

.button:hover {
    transform: scale(1.05);
}

.shadow-dark {
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

.logo {
    font-size: 20px;
    text-transform: uppercase;
    padding-left: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.logo a span {
    color: white !important;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: 22px;
    /* margin-left: -14px; */
    text-align: center;
}

/* home  */

.home {
    min-height: 100vh;
    display: flex;
    color: var(--text-black-900);
}

.home .home-info {
    flex: 0 0 60%;
    max-width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home .home-info p {
    text-align: justify;
    font-size: 16px;
}

h3.hello {
    font-size: 28px;
    margin: 15px 0;
}

h3.hello span {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: 700px !important;
    color: var(--skin-color);
}


h3.my-profession {
    font-size: 30px;
    margin: 15px 0;

}

.typing {
    color: var(--skin-color);
}

.home-info p {
    margin-bottom: 70px;
    font-size: 20px;
    color: var(--text-black-700);

}

.home .home-img {
    flex: 0 0 40%;
    max-width: 40%;
    text-align: center;
    position: relative;
}

.home .home-img img {
    margin: auto;
    border-radius: 15px;
    /* height: 450px; */
    /* width: 410px; */
    width: 100%;
    border: 4px solid var(--skin-color);
    padding: 4px;
}

/* about  */
.about .about-content {
    flex: 0 0 100%;
    max-width: 100%;
}

.about .about-content .about-text {
    flex: 0 0 100%;
    max-width: 100%;
}

.about .about-content .about-text h3 {
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 700;
    color: var(--text-black-900);
}

.about .about-content .about-text h3 span {
    color: var(--skin-color);
}

.about .about-content .about-text p {
    font-size: 16px;
    line-height: 25px;
    text-align: justify;
    color: var(--text-black-700);
}

.about .about-content .personal-info {
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 40px;
}

.about .about-content .personal-info .info-item {
    flex: 0 0 50%;
    max-width: 50%;
}

.about .about-content .personal-info .info-item p {
    font-weight: 600;
    padding: 10px 0;
    font-size: 16px;
    color: var(--text-black-900);
    border-bottom: 1px solid var(--bg-black-50);
}

.about .about-content .personal-info .info-item p span {
    font-weight: 400;
    color: var(--text-black-700);
    margin-left: 4px;
    display: inline-block;
}

.about .about-content .personal-info .buttons {
    margin-top: 30px;
}

.about .about-content .personal-info .buttons .button {
    margin-top: 10px;
}

.about .about-content .skills {
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
}

.about .about-content .skills .skill-item {
    flex: 0 0 50%;
    max-width: 50%;
}

.about .about-content .skills .skill-item h5 {

    line-height: 40px;
    font-weight: 600;
    font-size: 16px;
    color: var(--text-black-900);
    text-transform: capitalize;
}


.about .about-content .skills .skill-item {
    margin-bottom: 25px;
}

.about .about-content .education,
.about .about-content .experience {
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 30px;
}

.about .about-content h3.title {
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: 700;
    color: var(--text-black-900);
}

.about .about-content .timeline-box {
    flex: 0 0 100%;
    max-width: 100%;
}

.about .about-content .timeline {
    background-color: var(--bg-black-100);
    padding: 30px 15px;
    border: 1px solid var(--bg-black-50);
    border-radius: 10px;
    width: 100%;
    position: relative;
}

.about .about-content .timeline .timeline-item {
    position: relative;
    padding-left: 37px;
    padding-bottom: 50px;
}

.about .about-content .timeline .timeline-item:last-child {
    padding-bottom: 0;
}

.about .about-content .timeline .timeline-item::before {
    content: '';
    width: 1px;
    position: absolute;
    height: 100%;
    left: 7px;
    top: 0;
    background-color: var(--skin-color);
}

.about .about-content .timeline .circle-dot {
    position: absolute;
    left: 0;
    top: 0;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: var(--skin-color);
}

.about .about-content .timeline .timeline-date {
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 12px;
    color: var(--text-black-700);
}

.about .about-content .timeline .timeline-date .fa {
    margin-right: 5px;
}

.about .about-content .timeline .timeline-title {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
    text-transform: capitalize;
    color: var(--text-black-900);
}

.about .about-content .timeline .timeline-text {
    line-height: 25px;
    font-size: 16px;
    text-align: justify;
    color: var(--text-black-700);
}


/* portfolio */
.portfolio .section-container {
    padding-bottom: 40px;
}

.portfolio .portfolio-heading {
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    margin-bottom: 40px;
}

.portfolio .portfolio-heading h2 {
    color: var(--text-black-900);
    font-weight: 500;
    width: fit-content;
    position: relative;
}

.portfolio .portfolio-heading h2::before {
    content: '';
    height: 4px;
    width: 35px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
}

.portfolio .portfolio-heading h2::after {
    content: '';
    height: 4px;
    width: 17px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;
}


.portfolio .portfolio-item {
    flex: 0 0 50%;
    max-width: 50%;
    margin-bottom: 30px;
}

.portfolio .portfolio-item-inner {
    border: 6px solid var(--bg-black-100);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

.portfolio .portfolio-item-inner .portfolio-img img {
    width: 100%;
    display: block;
    filter: grayscale(0);
    transition: all 0.6s ease;
}

.portfolio .portfolio-item-inner .portfolio-img:hover img {
    filter: grayscale(100%);
    transform: scale(1.02);
}

.portfolio .portfolio-item-inner .portfolio-img .overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.6s ease;
    opacity: 0;
}

.portfolio .portfolio-item-inner .portfolio-img .overlay1 {
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.portfolio .portfolio-item-inner .portfolio-img:hover .overlay {
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 1;
}


.portfolio .portfolio-item-inner .portfolio-img .overlay .button-visit {
    font-size: 15px;
    font-weight: 500;
    padding: 8px 30px;
    margin-right: 10px;
    transform: translateX(30px);
    transition: all 0.6s ease;
}

.portfolio .portfolio-item-inner .portfolio-img .overlay:hover .button-visit {
    transform: translateX(0);
}

.portfolio .portfolio-item-inner .portfolio-img .overlay .button-visit:hover {
    transform: scale(1.06);
}

.portfolio .portfolio-item-inner .portfolio-img .overlay:hover h4 {
    transform: translateX(0);
    text-align: center;
}

.portfolio .projectdetails {
    background-color: white;
    padding: 10px 10px;
    border-radius: 15px;
    margin-top: 10px;
}

/* CONTACT  */
.contact-title {
    color: var(--skin-color);
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}

.contact-sub-title {
    color: var(--text-black-900);
    text-align: center;
    font-size: 15px;
    margin-bottom: 60px;
}

.contact .contact-info-item {
    flex: 0 0 25%;
    max-width: 25%;
    text-align: center;
    margin-bottom: 60px;
}

.contact .contact-info-item .icon {
    display: inline-block;
}

.contact .contact-info-item .icon .fa {
    font-size: 25px;
    color: var(--skin-color);
}

.contact .contact-info-item h4 {
    font-size: 18px;
    font-weight: 700;
    color: var(--text-black-900);
    text-transform: capitalize;
    margin: 15px 0 5px;
}

.contact .contact-info-item h4 a {
    font-size: 18px;
    font-weight: 700;
    color: var(--text-black-900);
    text-transform: capitalize;
    margin: 15px 0 5px;
}

.contact .contact-info-item p {
    font-size: 16px;
    line-height: 25px;
    color: var(--text-black-700);
    font-weight: 400;
}

.contact .contact-info-item p a {
    font-size: 16px;
    line-height: 25px;
    color: var(--text-black-700);
    font-weight: 400;
}

.contact .contact-info-item .icon .fab {
    font-size: 30px;
    color: var(--skin-color);
}

.contact .contact-form {
    flex: 0 0 100%;
    max-width: 100%;
}

.contact .contact-form .col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.contact .contact-form .col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.contact .contact-form .form-item {
    margin-bottom: 30px;
}

.contact .contact-form .form-item .form-control {
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: var(--bg-black-100);
    border: 1px solid var(--bg-black-50);
    padding: 10px 25px;
    font-size: 16px;
    color: var(--text-black-700);
    transition: all 0.3s ease;
}

.contact .contact-form .form-item .form-control:focus {
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

.contact .contact-form .form-item textarea.form-control {
    height: 140px;
}

.contact .contact-form .button {
    height: 50px;
    padding: 0 50px;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #279bf5;
    width: 42px;
    height: 42px;
    border-radius: 50px;
    transition: all 0.4s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.back-to-top i {
    font-size: 24px;
    color: #fff;
    line-height: 0;
}

.back-to-top:hover {
    background: #279bf5;
    color: #fff;
}

.back-to-top.active {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 1199px) {
    .section .section-container {
        padding-top: 70px;
    }

    .section {
        padding: 0 30px;
    }

    .about .about-content .personal-info .info-item p span {
        display: inline-block;
        margin-left: 0;
    }
}

@media (max-width: 991px) {

    .portfolio .portfolio-item {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .contact .contact-info-item {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .home .home-info {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .home .home-img {
        display: none;
    }

    .section.open {
        left: 0;
    }

    .style-switcher {
        top: 9%;
    }

    .lightbox .lightbox-controls .prev,
    .lightbox .lightbox-controls .next {
        height: 60%;
    }
}

@media (max-width: 767px) {

    .contact .contact-form .col-6,
    .contact .contact-info-item,
    .about .about-content .education,
    .about .about-content .experience,
    .about .about-content .skills,
    .about .about-content .skills .skill-item,
    .about .about-content .personal-info,
    .about .about-content .personal-info .info-item {
        flex: 0 0 100%;
        max-width: 100%;
    }

}

@media (max-height: 560px) {


    .portfolio .portfolio-item-inner .portfolio-img:hover img {
        filter: grayscale(0);
    }

    .button-detailss {
        display: none !important;
    }

}

@media (max-width: 390px) {

    .section {
        padding: 0 15px;
    }

    .padd-15 {
        padding-left: 20px;
        padding-right: 15px;
    }

    .portfolio .portfolio-item-inner .portfolio-img:hover img {
        filter: grayscale(0);
    }

    .button-detailss {
        display: none !important;
    }
}

.buttons .button {
    border: none;
    outline: none;
    cursor: pointer;
    margin: 0 5px;
    color: var(--light);
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 4px;
}